@model NSSERP.Areas.Masters.Models.CityMaster
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="..." crossorigin="anonymous" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="..."></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="..."></script>

<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            <h2>Create City</h2>           
        </div>
        <div class="card-body">
            <form asp-controller="City" asp-action="Create" method="post">
                <div class="form-group">
                    <label asp-for="City_Name" class="control-label">City Name</label>
                    <input asp-for="City_Name" name="City_Name" required class="form-control" />
                    <input asp-for="City_Code" value="@Model.City_Code" name="City_Code"  type="hidden" class="form-control" />
                    <span asp-validation-for="City_Name" class="text-danger"></span>
                </div>

              

                <button type="submit" class="btn btn-primary">Create</button>
            </form>

            <div class="form-group">
                <br />
                <a href="/Masters/CityMaster/Index" class="btn btn-warning"><i class="fas fa-arrow-left"></i> Back</a>
            </div>
          
        </div>
    </div>
</div>
