@model NSSERP.Areas.Masters.Models.CityMaster

@{
    ViewData["Title"] = "Edit City";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="..." crossorigin="anonymous" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="..."></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="..."></script>

<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            <h2>Edit City</h2>
        </div>
        <div class="card-body">

            <form asp-action="Edit" method="post">
                <input type="hidden" asp-for="City_Code" name="City_Code" value="@Model.City_Code" />

                <div class="form-group">
                    <label asp-for="City_Name" class="control-label">City Name</label>
                    <input asp-for="City_Name" value="@Model.City_Name" name="City_Name" class="form-control" />
                    <span asp-validation-for="City_Name" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-primary">Update</button>
                <a asp-action="Index" href="/Masters/CityMaster/Index" class="btn btn-warning">Back to List</a>
            </form>

          
        </div>
    </div>
</div>

