@model NSSERP.Areas.Masters.Models.CityMaster

@{
    ViewData["Title"] = "City Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="..." crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap4.min.css" />
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col text-left">
                <h5>
                    <span style="color:#1cb8a1">CITY</span>
                    <span style="color:#28166f">MASTER</span>
                </h5>
            </div>
            <div class="col text-left">
                <h5>
                    <span style="color:#1cb8a1"></span>
                </h5>
            </div>
            <div class="col-3 text-right">
                <a href="/Masters/CityMaster/Create" class="btn btn-primary"><i class="fas fa-plus"></i>Add City</a>
                <a title="Go Back Home" href="/Administrator/Home" class="btn btn-warning"><i class="fas fa-arrow-left"></i> Back</a>
            </div>
        </div>
    </div>

    <div class="card-body">
        @if (Model.msg != null)
        {
            ViewBag.msg = Model.msg;
        }
        <table class="table table-hover table-bordered" id="cityTable">
            <thead class="thead-dark">
                <tr>
                    <th>City Name</th>               
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {


                    @foreach (var city in Model.masterDetails)
                    {
                        <tr>
                            <td>@city.City_Name</td>

                            <td>
                                <a href="/Masters/CityMaster/Edit?id=@city.City_Code" title="Edit">
                                    <i class="fas fa-edit btn btn-primary"></i>
                                </a>
                                <a onclick="confirmDelete('@city.City_Code')" title="Delete">
                                    <i class="fas fa-trash-alt btn btn-danger"></i>
                                </a>
                            </td>
                        </tr>
                    }}
            </tbody>
        </table>
    </div>
</div>



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap4.min.js"></script>

<script>
    $(document).ready(function () {
        $('#cityTable').DataTable({
            "paging": true,
            "ordering": true,
            "info": true,
            "responsive": true
        });
    });

    function confirmDelete(cityId) {
        var result = confirm("Are you sure you want to delete this city?");
        if (result) {
            window.location.href = "/Masters/CityMaster/Delete?cityId=" + cityId;
        }
    }
</script>
