@model NSSERP.Areas.NationalGangotri.Models.ImportExcel

<form action="/NationalGangotri/ImportExcel/ConvertExcel" method="post" enctype="multipart/form-data" id="uploadForm">
    <div class="form-group">
        <label for="excelFile">Select Excel File:</label>
        <input type="file" class="form-control-file" asp-for="excelFile" name="excelFile" id="excelFile" required />
    </div>

    <!-- Preview div for Excel file -->
    <div id="excelPreview" style="margin-top: 20px;"></div>

    <button type="submit" class="btn btn-primary" id="uploadButton">Upload</button>

</form>




