@model IEnumerable<NSSERP.Areas.Masters.Models.CurrencyMaster>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="..." crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap4.min.css" />

@section scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap4.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#currencyTable').DataTable();
        });
    </script>
}

<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col text-left">
                <h5>
                    <span style="color:#1cb8a1">CURRENCY</span>
                    <span style="color:#28166f">MASTER</span>
                </h5>
            </div>
            <div class="col text-left">
                <h5>
                    <span style="color:#1cb8a1"></span>
                </h5>
            </div>
            <div class="col-3 text-right">
                <a href="/Masters/CurrencyMaster/Create" class="btn btn-primary">Add Currency</a>
                <a title="Go Back Home" href="/Administrator/Home" class="btn btn-warning"><i class="fas fa-arrow-left"></i> Back</a>
            </div>
        </div>
    </div>

    <div class="card-body">
        <table id="currencyTable" class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>Currency Code</th>
                    <th>Currency Name</th>
                    <th>Symbol</th>
                    <th>Country</th>
                    <th>Is Active</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var currency in Model)
                {
                    <tr>
                        <td>@currency.CurrencyCode</td>
                        <td>@currency.CurrencyName</td>
                        <td>@currency.Symbol</td>
                        <td>@(currency.CountryMaster != null ? currency.CountryMaster.Country_Name : "N/A")</td>
                        <td>
                            @if (currency.IsActive == "Y")
                            {
                                <span class="text-success">Active</span>
                            }
                            else if (currency.IsActive == "N")
                            {
                                <span class="text-danger">Inactive</span>
                            }
                            else
                            {
                                <span class="text-muted">N/A</span>
                            }
                        </td>
                        <td>
                            <a href="/Masters/CurrencyMaster/Edit/@currency.CurrencyID" title="Edit"><i class="fas fa-edit btn btn-primary"></i></a> |
                            <a href="/Masters/CurrencyMaster/Delete?id=@currency.CurrencyID">
                                <i class="fas fa-trash-alt btn btn-danger"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
