@model IEnumerable<NSSERP.Areas.Masters.Models.PinCodeMaster>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="..." crossorigin="anonymous" />

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap4.min.css" />

@section scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap4.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#stateTable').DataTable();
        });
    </script>
}
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col text-left">
                <h5>
                    <span style="color:#1cb8a1">PINCODE</span>
                    <span style="color:#28166f">MASTER</span>
                </h5>
            </div>
            <div class="col text-left">
                <h5>
                    <span style="color:#1cb8a1"></span>
                </h5>
            </div>
            <div class="col-3 text-right">
                <a href="/Masters/PinCodeMaster/Create" class="btn btn-primary">Add PinCode</a>
                <a title="Go Back Home" href="/Administrator/Home" class="btn btn-warning"><i class="fas fa-arrow-left"></i> Back</a>
            </div>
        </div>
    </div>

    <div class="card-body">
        <table id="stateTable" class="table table-hover">       
           

            <thead class="thead-dark">
                <tr>
                    <th>City</th>
                    <th>State</th>
                    <th>Country</th>
                    <th>Is Active</th>
                    <th>Pin Codes</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var pincode in Model)
                {
                    <tr>
                        <td>
                            @foreach (var city in pincode.citys)
                            {
                                <span>@city.City_Name</span>
                                <br />
                            }
                        </td>
                        <td>@pincode.StateName</td>
                        <td>
                            @if (pincode.CountryName != null)
                            {
                                @pincode.CountryName
                            }
                            else
                            {
                                <span class="text-muted">N/A</span>
                            }
                        </td>
                        <td>
                            @if (pincode.IsActive == "Y")
                            {
                                <span class="text-success">Active</span>
                            }
                            else if (pincode.IsActive == "N")
                            {
                                <span class="text-danger">Inactive</span>
                            }
                            else
                            {
                                <span class="text-muted">N/A</span>
                            }
                        </td>

                        <td>
                            @pincode.Pincode
                        </td>
                        <td>
                            <a href="/Masters/PinCodeMaster/Edit/@pincode.PincodeID" title="Edit"><i class="fas fa-edit btn btn-primary"></i></a> |
                            <a href="/Masters/PinCodeMaster/Delete?id=@pincode.PincodeID"  title="Delete">
                                <i class="fas fa-trash-alt btn btn-danger"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>



        </table>

    </div>
</div>


