@model NSSERP.Areas.Masters.Models.DistrictMaster
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="..." crossorigin="anonymous" />

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap4.min.css" />

@section scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap4.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#indextable').DataTable();
        });
    </script>
}
<div class="card">

    <div class="card-header">
        <div class="row">
            <div class="col text-left">
                <h5>
                    <span style="color:#1cb8a1">DISTRICT</span>
                    <span style="color:#28166f">MASTER</span>
                </h5>
            </div>
            <div class="col text-left">
                <h5>
                    <span style="color:#1cb8a1"></span>
                </h5>
            </div>
            <div class="col-3 text-right">
                <a href="/Masters/DistrictMaster/Create" class="btn btn-primary">Add District</a>
                <a title="Go Back Home" href="/Administrator/Home" class="btn btn-warning"><i class="fas fa-arrow-left"></i> Back</a>
            </div>
        </div>
    </div>

    <div class="card-body">
        @if (Model.msg != null)
        {
            ViewBag.msg = Model.msg;
        }
        <table id="indextable" class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>District</th>
                    <th>State</th>
                    <th>Country</th>                    
                    <th>Action</th>
                </tr>
            </thead>
           
            <tbody>
                @if (Model != null)
                {
                    @foreach (var district in Model.masterDetails)
                    {
                        <tr>
                            <td>@district.District_Name</td>
                            <td>@district.State_Name</td>
                            <td>
                                @if (district.Country_Name != null)
                                {
                                    @district.Country_Name
                                }
                                else
                                {
                                    <span class="text-muted">N/A</span>
                                }
                            </td>

                            <td>
                                <a href="/Masters/DistrictMaster/Edit/@district.District_Code" title="Edit"><i class="fas fa-edit btn btn-primary"></i></a> |
                                <a href="/Masters/DistrictMaster/DeleteDistrict?id=@district.District_Code" title="Delete">
                                    <i class="fas fa-trash-alt btn btn-danger"></i>
                                </a>
                            </td>
                        </tr>
                    }
                }
            </tbody>         

        </table>
       
    </div>
</div>


